/*-- scss:defaults --*/

$body-bg: #1c1c1d;
$body-color: #e8e8e8;
$link-color: #ff995e;
$link-hover-color: #ffb68a;
$primary: #ff995e;
$navbar-bg: $body-bg;
$navbar-fg: $body-color;
$navbar-hl: $link-color;
$footer-bg: $body-bg;
$footer-fg: $body-color;
$border-color: #414143;
$code-bg: #29292b;
$code-color: $body-color;
$input-bg: $body-bg;
$popover-bg: $body-bg;
